<h3>Your digital reciept:</h3>

<% total = 0 %>

  <ul>
    <% @selected_products_array.each() do |product| %>
      <li> <%= product.name %> $<%= product.price %>
        <% total += product.price %>
      </li>
    <% end %>
  </ul>

<h4>Your total is: $<%= total %></h4>

<h4>Thanks for shopping with us!</h4>
