<img src="http://www.catfaeries.com/blog/wp-content/uploads/2013/03/shoppng-bunny-650.jpg">
<div class="products">
<h1><strong>Products </strong><span class="glyphicon glyphicon-shopping-cart"></span></h1>

<form id="form_id" action="/cart" method="post">
<ul>
<% @products.each() do |product| %>
  <h3><li><%= product.name %> $<%= product.price %></h3>

      <div class = "checkbox">
        <label><input type="checkbox" name="product_ids[]" value="<%= product.id() %>">Add to cart</label>
      </div>
  </li>
<% end %>
<button type="submit" class="btn btn-success">Check out!</button>
</form>
</div>


<p><a href='/'>Back to homepage</a></p>
