<h1>products </h1>

<form id="form_id" action="/cart" method="post">
<ul>
<% @products.each() do |product| %>
  <li><%= product.description %> $<%= product.price %>

      <div class = "checkbox">
        <label> <input type="checkbox" name="product_ids[]" value="<%= product.id() %>"> buy me </label>
      </div>


  </li>
<% end %>
<button type="submit" class="btn btn-default">click to check out</button>

</form>



<p><a href='/'>Back to homepage</a></p>
