<h1>Welcome to the Food Market <span class="glyphicon glyphicon-shopping-cart"></span>
</h1>

<h3><a href="/manager"><button class="btn btn-success">I am a manager or employee</a></button></h3>
<h3><a href="/customer"><button class="btn btn-success">I am a customer</a></button></h3>
