<h1>Manager/Employees Only</h1>

<h4><strong>Add a product</strong></h4>

<div class="formm">
<form action='/manager' method='post'>
  <label for='name'>Name</label>
  <input id='name' name='name' type='text'>

  <label for='price'>Price $</label>
  <input id='price' name='price' type='text'>

  <button class="btn btn-success" type="submit">Add product</button></form>
</div>

<% @products.each() do |product| %>
  <li><%= product.name %> $<%= product.price %> </li>
<% end %>

<p><a href = "/clear"><button class="btn btn-danger">Clear Products</button> </a><button class="btn btn-success"><a href='/'>Back to Quick Store home page</a></button></p>
