body {
  background-image: url("http://mytwitterbackgrounds.com/backgrounds/images/bg_hl2u/3509.jpg");
  color: white;
}

a {
  color: white;
}

img {
  float: right;
  height: 40%;
  width: 40%;
  top: 20px;
  margin: 50px;
}

a:hover {
  color: white;
}

.formm {
  display: inline;
}
